@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 26 22% 11%;
    --foreground: 0 0% 100%;

    --card: 26 22% 11%;
    --card-foreground: 0 0% 100%;

    --popover: 26 22% 11%;
    --popover-foreground: 0 0% 100%;

    --primary: 18 100% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 100% 60%;
    --secondary-foreground: 0 0% 100%;

    --muted: 271 69% 39%;
    --muted-foreground: 0 0% 100%;

    --accent: 18 100% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 18 100% 60%;

    --radius: 0.5rem;

    --sidebar-background: 26 22% 11%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 18 100% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 18 100% 60%;
  }

  .dark {
    --background: 26 22% 11%;
    --foreground: 0 0% 100%;

    --card: 26 22% 11%;
    --card-foreground: 0 0% 100%;

    --popover: 26 22% 11%;
    --popover-foreground: 0 0% 100%;

    --primary: 18 100% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 100% 60%;
    --secondary-foreground: 0 0% 100%;

    --muted: 271 69% 39%;
    --muted-foreground: 0 0% 100%;

    --accent: 18 100% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 18 100% 60%;
    --sidebar-background: 26 22% 11%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 18 100% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 18 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
